{
  "*": "secretlint --secretlintrc .secretlintrc.json",
  "backend/**/*.{js,ts,json}": [
    "npm audit --prefix backend"
  ],
  "frontend/**/*.{js,ts,json}": [
    "npm audit --prefix frontend"
  ]
}
